[submodule "include/merkle/merklecpp"]
	path = include/merkle/merklecpp
	url = https://github.com/yuzhishuo/merklecpp
[submodule "3rdParty/raft"]
	path = 3rdParty/raft
	url = https://github.com/yuzhishuo/raft-1.git
[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://github.com/google/googletest
[submodule "3rdParty/rocksdb"]
	path = 3rdParty/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "3rdParty/libuv"]
	path = 3rdParty/libuv
	url = https://github.com/libuv/libuv.git
