[submodule "include/merkle/merklecpp"]
	path = include/merkle/merklecpp
	url = https://github.com/yuzhishuo/merklecpp
[submodule "3rdParty/muduo"]
	path = 3rdParty/muduo
	url = https://github.com/yuzhishuo/muduo
[submodule "3rdParty/raft"]
	path = 3rdParty/raft
	url = https://github.com/yuzhishuo/raft-1.git
